#title {
    padding-top: 0.5%;
    padding-bottom: 1%;
}
#navigation {
    background-color: Black;
    position: fixed;
    padding: 0px;
    margin-left: 0px;
}

.sidebar {
    height: 100vh;
}

.mainItem {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    margin-left: 0px;
}
.col-md-5 {
    padding: 0px;
}
.col-md-6 {
    padding: 0px;
}
.mainItem p {
    color: black;
    font-style: normal;
}

.navi-text h1 {
    font-size: 3vmin;
    color: lightgray;
}

.jumbotron {
    background-color: cornflowerblue;
}
.caption {
    background-color: gray;
    padding: 10px;
    font-size: 30px;
}
#popular {
    background-color: lavender;
    margin-bottom: 2%;
    padding: 1%;
}

img {
    width: 100%;
}

.thankyou {
    margin-top: 20vh;
    font-size:xx-large
}

.bank-account {
    margin-top: 20vh;
}

#money {
    font-size: xx-large;
}
